/* body{
    margin: 0;
    max-width: 100%;
}
.header{
    background-image: linear-gradient(#1F1B47 50%, #918FCA 50%);
    width: 100%;
    max-width: 100%;
    /* height: 200%; */
    /* min-height: 120vh;
} 
.logo{
    max-width: 100%;
} 
.gh2{
    height: 70%;
    color: white; */
    /* margin-top: 30px; */
    /* max-width: 80%;
    margin-top: 60px;
}
.gh1{
    margin-top: 60px;
    width: 300%;
    max-width: 300%; */
    /* transform: translateX(27%); */
/* }
.welcome{
    font-size: 500%;
    font-style: bold;
    max-width: 300%;
}
@media screen and (max-width:430px){
    .welcome{
        font-size: 300%;
        font-style: bold;
        max-width: 300%;
    }
    .sub{
        font-size: 100%;
    }
}
@media screen and (max-width:260px){
    .welcome{
        font-size: 200%;
        font-style: bold;
        max-width: 300%;
    }
    #myInput{
        max-width: 100%;
    }
    .sub{
        font-size: 100%;
    }
}
.lp{
    margin-top: 5%;
    max-width: 100%;
    height: 100%;
}
.parlog{
        background-color: #ffffff;
        max-width: 100%;
        text-align: justify;

}
.parag{
    margin-top: 10%;
    max-width: 100%;
}
#parlog > p{
    text-align: justify;
}
.read{
    width: 30px;
    height: 30px;
    border-radius: 36px;
    max-width: 100%;
}
.rea{
    border-radius: 10%;
    max-width: 100%; */
    /* -ms-transform: translateX(200%);
    transform: translateX(200%); */
    /* transform: translateX(50%); */
    /* margin-left:50%; */
/* }
.for_read_more{
    margin: auto;
}
#loin > div.container{
    max-width: 100%;
}
.form{
    margin-top:10%;
}
.vl {
    border-left: 10px solid rgb(0, 0, 0);
    height: 500px;
  }
  #more 
  {display: none;}
thead{
    background-color: #313b8b;
}
.tr1{
    background-color: #98A2EC;
}
.tr2{
    background-color: #ffffff;
}
.delete{
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.contact{
    margin-top: 5%;
}
.cont{
    margin-top: 2%;
}
.out{
    background-color: #626DBB;
}
.modal-header{
    background-color: #626DBB;
}
.modal-body{
    background-image: linear-gradient(#1F1B47 50%, #918FCA 50%) ;
}
.modal-footer{
    background-color: #626DBB;
}
.logogh{
    transform: translateX(30%);
}
#parlog{
    border-start-start-radius: 10%;
    border-end-start-radius: 10%;
    min-height: 300px;
    }
#loin{
    border-start-end-radius: 10%;
    border-end-end-radius: 10%;
    background-color: #313b8b;
}

.table-primary{
    background-color: #98A2EC;
}
.table-striped{
    background-color: #ffffff;
}
#lgt{
    border-radius: 10%;
    background-color: rgb(56, 56, 56);
    color: #0f51a7; */
/* } */ 